.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  background-color: #333740;
  display: flex;
  flex-direction: column;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p > a:link{
  color:black;
}
p > a:visited{
  color:black;
}
table.TTT {
  border-collapse: collapse;
  width: 300px;
  height: 300px;
}
table.TTT > tr > td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}